<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abalo</title>

    <!--<script src="./js/require.js"></script>-->
    <script src="/js/app.js"></script>
    <!--<script src="/index.js" type="module"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href="/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">

</head>

<div id="app">
    <sitebody>
    </sitebody>
</div>

<script src="/js/newsite/start_text.js"></script>
<script src="/js/newsite/impressum.js"></script>
<script src="/js/newsite/article_creation.js"></script>
<script src="/js/newsite/menu_component.js"></script>
<script src="/js/newsite/siteheader.js"></script>
<script src="/js/newsite/sitefooter.js"></script>
<script src="/js/newsite/pagination.js"></script>
<script src="/js/newsite/articles.js"></script>
<script src="/js/newsite/sitebody.js"></script>

<script>
    new Vue ({
        el: '#app'
    });

    window.noHTML = function() {
        console.log('Removing server message.');
        let tmp = document.getElementById('message-box');
        tmp.innerHTML = "";
    };
</script>

</html>
